<div class="mdl-grid content">

  <!-- Карточка с настройками поиска заявки на конвертацию. -->
  <div class="mdl-card mdl-color--white mdl-shadow--3dp mdl-cell mdl-cell--12-col mdl-grid" width="100%">
      <div class="mdl-card__title mdl-cell mdl-cell--12-col">
          <div class="mdl-card__title-text">Поиск заявок на конвертацию</div>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--4-col">
          <input class="mdl-textfield__input" type="text" id="input_like" ng-model="loginLike" ng-change="">
          <label class="mdl-textfield__label" for="input_like">Логин пользователя...</label>
      </div>
      <md-datepicker ng-model="fromDate" md-placeholder="От" class="mdl-cell mdl-cell--4-col"></md-datepicker>
      <md-datepicker ng-model="toDate" md-placeholder="До" class="mdl-cell mdl-cell--4-col"></md-datepicker>


      <md-input-container class="mdl-cell mdl-cell-6-col">
        <label>Валюта списания</label>
        <md-select ng-model="selectCurrencyFrom.repeatSelect" ng-change="">
          <md-option ng-repeat="cFrom in selectCurrencyFrom.availableOptions" value="{{cFrom.id}}">
            {{cFrom.name}}
          </md-option>
        </md-select>
      </md-input-container>

      <md-input-container class="mdl-cell mdl-cell-6-col">
        <label>Валюта зачисления</label>
        <md-select ng-model="selectCurrencyTo.repeatSelect" ng-change="">
          <md-option ng-repeat="cTo in selectCurrencyTo.availableOptions" value="{{cTo.id}}">
            {{cTo.name}}
          </md-option>
        </md-select>
      </md-input-container>

      <!--Кнопка поиска. -->
      <div class="mdl-card__actions">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="">поиск</a>
      </div>
  </div>
  <!-- <div class="mdl-shadow--3dp mdl-cell mdl-cell--12-col">
    <table class="mdl-data-table mdl-js-data-table" width="100%">
      <tr>
        <th class="mdl-data-table__cell--non-numeric">ID</th>
        <th class="mdl-data-table__cell--non-numeric">Логин</th>
        <th class="mdl-data-table__cell--non-numeric">ФИО</th>
        <th class="mdl-data-table__cell--non-numeric">Компания</th>
        <th class="mdl-data-table__cell--non-numeric">Email</th>
        <th class="mdl-data-table__cell--non-numeric">Телефон</th>
        <th class="mdl-data-table__cell--non-numeric">ForexID</th>
        <th class="mdl-data-table__cell--non-numeric">Тип</th>
      </tr>

      <tr ng-repeat="c in clients track by c.id" class={{c.className}}>
        <td class="mdl-data-table__cell--non-numeric">{{::c.id}}</td>
        <td class="mdl-data-table__cell--non-numeric"><a href="?page=clientinfo&login={{c.login}}">{{c.login}}</a></td>
        <td class="mdl-data-table__cell--non-numeric">{{c.surname}} {{c.name}} {{c.secondname}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{c.company}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{c.email}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{c.phone}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{c.forexid}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{c.admin}}</td>
      </tr>
    </table>
  </div> -->
</div>
