<div class="mdl-grid content">

  <!-- Карточка с настройками поиска заявки на конвертацию. -->
  <div class="mdl-card mdl-color--white mdl-shadow--3dp mdl-cell mdl-cell--12-col mdl-grid" width="100%">

    <div class="mdl-card__title mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title-text">Поиск отложенных заявок на конвертацию</div>
    </div>

    <div class="mdl-cell mdl-cell--12-col">
      <table>
        <tr>
          <td class="table-params">
            <!-- Фильтр по логину  -->
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="input_like" ng-model="loginLike" my-enter="onFilterChanged()">
                <label class="mdl-textfield__label" for="input_like">Логин пользователя...</label>
            </div>
            <!------------------------>
          </td>
          <!-- Выбор валюты -->
          <td class="table-params">
            <md-input-container>
              <label>Валюта списания</label>
              <md-select ng-model="currencyFrom" ng-change="onFilterChanged()">
                <md-option ng-repeat="cFrom in currencyList" value="{{cFrom.currencyName}}">
                  {{cFrom.currencyName}}
                </md-option>
              </md-select>
            </md-input-container>
          </td>
          <td class="table-params">
            <md-input-container>
              <label>Валюта зачисления</label>
              <md-select ng-model="currencyTo" ng-change="onFilterChanged()">
                <md-option ng-repeat="cTo in currencyList" value="{{cTo.currencyName}}">
                  {{cTo.currencyName}}
                </md-option>
              </md-select>
            </md-input-container>
          </td>
          <!----------------------->
          <td class="table-params">
            <!-- Выбор статуса оредар -->
            <md-input-container>
              <label>Статус</label>
              <md-select ng-model="crrentStatus" ng-change="onFilterChanged()">
                <md-option ng-repeat="status in statusList" value="{{status.value}}">
                  {{status.name}}
                </md-option>
              </md-select>
            </md-input-container>
            <!-------------------------->
          </td>
        </tr>
      </table>
    </div>

    <!-- Выбор даты -->
    <table class="mdl-cell mdl-cell--6-col">
      <tr>
        <td>
          <label>Дата выполнения:</label>
        </td>
        <td>
          <md-datepicker ng-model="fromDateCreate" md-placeholder="От" ng-change="onFilterChanged()"></md-datepicker>
        </td>
        <td>
          <md-datepicker ng-model="toDateCreate" md-placeholder="До" ng-change="onFilterChanged()"></md-datepicker>
        </td>
      </tr>
      <tr>
        <td>
          <label>Дата регистрации:</label>
        </td>
        <td>
          <md-datepicker ng-model="fromDateReg" md-placeholder="От" ng-change="onFilterChanged()"></md-datepicker>
        </td>
        <td>
          <md-datepicker ng-model="toDateReg" md-placeholder="До" ng-change="onFilterChanged()"></md-datepicker>
        </td>
      </tr>
    </table>
    <!----------------------->

    <!--Кнопка поиска. -->
    <div class="mdl-card__actions">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="onFilterChanged()">поиск</a>
    </div>

  </div>
  <div class="mdl-shadow--3dp mdl-cell mdl-cell--12-col">
    <table class="mdl-data-table mdl-js-data-table" width="100%">
      <tr>
        <th class="mdl-data-table__cell--non-numeric">№ заявки</th>
        <th class="mdl-data-table__cell--non-numeric">N ордера</th>
        <th class="mdl-data-table__cell--non-numeric">Клиент</th>
        <th class="mdl-data-table__cell--non-numeric">Статус</th>
        <th class="mdl-data-table__cell--non-numeric">Дата установки</th>
        <th class="mdl-data-table__cell--non-numeric">Дата исполнения</th>
        <th>Сума списания</th>
        <th class="mdl-data-table__cell--non-numeric">Валюта списания</th>
        <th>Сумма зачисления</th>
        <th class="mdl-data-table__cell--non-numeric">Валюта зачисления</th>
        <th>Курс сделки</th>
      </tr>

      <!--  class={{c.className}}-->
      <tr ng-repeat="conv in conversionOrderList track by conv.idConversion">
        <td class="mdl-data-table__cell--non-numeric">
          <a href="" ng-click="showDetailsDialog($event, conv)">{{conv.idConversion}}</a>
        </td>
        <td class="mdl-data-table__cell--non-numeric">{{conv.orderId}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{conv.client}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{conv.status}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{conv.registerTime}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{conv.datetimeConv}}</td>
        <td>{{conv.chargeOffAmount}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{conv.chargeOffCur}}</td>
        <td>{{conv.chargingAmount}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{conv.chargingCur}}</td>
        <td>{{conv.rate}}</td>
      </tr>
    </table>
  </div>
</div>
